[submodule "Uniprof"]
	path = Uniprof
	url = git@github.com:gabrielmocanu/uniprof.git
[submodule "FlameGraph"]
	path = FlameGraph
	url = git@github.com:brendangregg/FlameGraph.git
[submodule "unikraft"]
	path = unikraft
	url = git@github.com:unikraft/unikraft.git
